$primary-color: #FF3C3C !default;
$primary-light: #FFF0F0 !default;
$gray: #d3d3d3 !default;
$white: #fff !default;

$text-color: #718096 !default;
$background-color: #edf2f7 !default;

$sidebar-width: 200px !default;

$default-size: 1em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;