@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  .pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <= 50 {
      .right-side {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}

.progress {
  font-size: 10em;
  height: 180px;
  display: inline-block;

  .charts-container {
    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }

  .pie-wrapper {
    @include size($default-size, $default-size);
    float: left;
    margin: 15px;
    position: relative;

    &:nth-child(3n + 1) {
      clear: both;
    }

    .pie {
      @include size(100%, 100%);
      clip: rect(0, $default-size, $default-size, $default-size / 2);
      left: 0;
      position: absolute;
      top: 0;

      .half-circle {
        @include size(100%, 100%);
        border: ($default-size / 10) solid $primary-color;
        border-radius: 50%;
        clip: rect(0, $default-size / 2, $default-size, 0);
        left: 0;
        position: absolute;
        top: 0;
      }
    }

    .label {
      bottom: $label-font-size-redo / 10;
      color: $gray;
      cursor: default;
      display: block;
      font-size: $label-font-size;
      font-family: "Roboto Mono", monospace;
      left: $label-font-size-redo / 10;
      line-height: $label-font-size-redo * 0.7;
      position: absolute;
      right: $label-font-size-redo / 10;
      text-align: center;
      top: $label-font-size-redo / 10;

      .smaller {
        color: #bdc3c7;
        font-size: 0.45em;
        padding-bottom: 20px;
        vertical-align: super;
      }
    }

    .shadow {
      @include size(100%, 100%);
      border: $default-size / 10 solid $primary-light;
      border-radius: 50%;
    }

    &.style-2 {
      .label {
        background: none;
        color: $gray;

        .smaller {
          color: $gray;
        }
      }
    }

    &.progress-0 {
      @include draw-progress(0, $primary-color);
    }
    &.progress-1 {
      @include draw-progress(1, $primary-color);
    }
    &.progress-2 {
      @include draw-progress(2, $primary-color);
    }
    &.progress-3 {
      @include draw-progress(3, $primary-color);
    }
    &.progress-4 {
      @include draw-progress(4, $primary-color);
    }
    &.progress-5 {
      @include draw-progress(5, $primary-color);
    }
    &.progress-6 {
      @include draw-progress(6, $primary-color);
    }
    &.progress-7 {
      @include draw-progress(7, $primary-color);
    }
    &.progress-8 {
      @include draw-progress(8, $primary-color);
    }
    &.progress-9 {
      @include draw-progress(9, $primary-color);
    }
    &.progress-10 {
      @include draw-progress(10, $primary-color);
    }
    &.progress-11 {
      @include draw-progress(11, $primary-color);
    }
    &.progress-12 {
      @include draw-progress(12, $primary-color);
    }
    &.progress-13 {
      @include draw-progress(13, $primary-color);
    }
    &.progress-14 {
      @include draw-progress(14, $primary-color);
    }
    &.progress-15 {
      @include draw-progress(15, $primary-color);
    }
    &.progress-16 {
      @include draw-progress(16, $primary-color);
    }
    &.progress-17 {
      @include draw-progress(17, $primary-color);
    }
    &.progress-18 {
      @include draw-progress(18, $primary-color);
    }
    &.progress-19 {
      @include draw-progress(19, $primary-color);
    }
    &.progress-20 {
      @include draw-progress(20, $primary-color);
    }
    &.progress-21 {
      @include draw-progress(21, $primary-color);
    }
    &.progress-22 {
      @include draw-progress(22, $primary-color);
    }
    &.progress-23 {
      @include draw-progress(23, $primary-color);
    }
    &.progress-24 {
      @include draw-progress(24, $primary-color);
    }
    &.progress-25 {
      @include draw-progress(25, $primary-color);
    }
    &.progress-26 {
      @include draw-progress(26, $primary-color);
    }
    &.progress-27 {
      @include draw-progress(27, $primary-color);
    }
    &.progress-28 {
      @include draw-progress(28, $primary-color);
    }
    &.progress-29 {
      @include draw-progress(29, $primary-color);
    }
    &.progress-30 {
      @include draw-progress(30, $primary-color);
    }
    &.progress-31 {
      @include draw-progress(31, $primary-color);
    }
    &.progress-32 {
      @include draw-progress(32, $primary-color);
    }
    &.progress-33 {
      @include draw-progress(33, $primary-color);
    }
    &.progress-34 {
      @include draw-progress(34, $primary-color);
    }
    &.progress-35 {
      @include draw-progress(35, $primary-color);
    }
    &.progress-36 {
      @include draw-progress(36, $primary-color);
    }
    &.progress-37 {
      @include draw-progress(37, $primary-color);
    }
    &.progress-38 {
      @include draw-progress(38, $primary-color);
    }
    &.progress-39 {
      @include draw-progress(39, $primary-color);
    }
    &.progress-40 {
      @include draw-progress(40, $primary-color);
    }
    &.progress-41 {
      @include draw-progress(41, $primary-color);
    }
    &.progress-42 {
      @include draw-progress(42, $primary-color);
    }
    &.progress-43 {
      @include draw-progress(43, $primary-color);
    }
    &.progress-44 {
      @include draw-progress(44, $primary-color);
    }
    &.progress-45 {
      @include draw-progress(45, $primary-color);
    }
    &.progress-46 {
      @include draw-progress(46, $primary-color);
    }
    &.progress-47 {
      @include draw-progress(47, $primary-color);
    }
    &.progress-48 {
      @include draw-progress(48, $primary-color);
    }
    &.progress-49 {
      @include draw-progress(49, $primary-color);
    }
    &.progress-50 {
      @include draw-progress(50, $primary-color);
    }
    &.progress-51 {
      @include draw-progress(51, $primary-color);
    }
    &.progress-52 {
      @include draw-progress(52, $primary-color);
    }
    &.progress-53 {
      @include draw-progress(53, $primary-color);
    }
    &.progress-54 {
      @include draw-progress(54, $primary-color);
    }
    &.progress-55 {
      @include draw-progress(55, $primary-color);
    }
    &.progress-56 {
      @include draw-progress(56, $primary-color);
    }
    &.progress-57 {
      @include draw-progress(57, $primary-color);
    }
    &.progress-58 {
      @include draw-progress(58, $primary-color);
    }
    &.progress-59 {
      @include draw-progress(59, $primary-color);
    }
    &.progress-60 {
      @include draw-progress(60, $primary-color);
    }
    &.progress-61 {
      @include draw-progress(61, $primary-color);
    }
    &.progress-62 {
      @include draw-progress(62, $primary-color);
    }
    &.progress-63 {
      @include draw-progress(63, $primary-color);
    }
    &.progress-64 {
      @include draw-progress(64, $primary-color);
    }
    &.progress-65 {
      @include draw-progress(65, $primary-color);
    }
    &.progress-66 {
      @include draw-progress(66, $primary-color);
    }
    &.progress-67 {
      @include draw-progress(67, $primary-color);
    }
    &.progress-68 {
      @include draw-progress(68, $primary-color);
    }
    &.progress-69 {
      @include draw-progress(69, $primary-color);
    }
    &.progress-70 {
      @include draw-progress(70, $primary-color);
    }
    &.progress-71 {
      @include draw-progress(71, $primary-color);
    }
    &.progress-72 {
      @include draw-progress(72, $primary-color);
    }
    &.progress-73 {
      @include draw-progress(73, $primary-color);
    }
    &.progress-74 {
      @include draw-progress(74, $primary-color);
    }
    &.progress-75 {
      @include draw-progress(75, $primary-color);
    }
    &.progress-76 {
      @include draw-progress(76, $primary-color);
    }
    &.progress-77 {
      @include draw-progress(77, $primary-color);
    }
    &.progress-78 {
      @include draw-progress(78, $primary-color);
    }
    &.progress-79 {
      @include draw-progress(79, $primary-color);
    }
    &.progress-80 {
      @include draw-progress(80, $primary-color);
    }
    &.progress-81 {
      @include draw-progress(81, $primary-color);
    }
    &.progress-82 {
      @include draw-progress(82, $primary-color);
    }
    &.progress-83 {
      @include draw-progress(83, $primary-color);
    }
    &.progress-84 {
      @include draw-progress(84, $primary-color);
    }
    &.progress-85 {
      @include draw-progress(85, $primary-color);
    }
    &.progress-86 {
      @include draw-progress(86, $primary-color);
    }
    &.progress-87 {
      @include draw-progress(87, $primary-color);
    }
    &.progress-88 {
      @include draw-progress(88, $primary-color);
    }
    &.progress-89 {
      @include draw-progress(89, $primary-color);
    }
    &.progress-90 {
      @include draw-progress(90, $primary-color);
    }
    &.progress-91 {
      @include draw-progress(91, $primary-color);
    }
    &.progress-92 {
      @include draw-progress(92, $primary-color);
    }
    &.progress-93 {
      @include draw-progress(93, $primary-color);
    }
    &.progress-94 {
      @include draw-progress(94, $primary-color);
    }
    &.progress-95 {
      @include draw-progress(95, $primary-color);
    }
    &.progress-96 {
      @include draw-progress(96, $primary-color);
    }
    &.progress-97 {
      @include draw-progress(97, $primary-color);
    }
    &.progress-98 {
      @include draw-progress(98, $primary-color);
    }
    &.progress-99 {
      @include draw-progress(99, $primary-color);
    }
    &.progress-100 {
      @include draw-progress(100, $primary-color);
    }
  }
}
