.sidebar {
  width: $sidebar-width;
  position: fixed;
  background-color: $white;
  min-height: 100vh;
  z-index: 99999;
  .logo {
    margin-bottom: 20px;
    min-height: 30px;
    padding: 20px;
  }
  .sidebar-links {
    margin-top: 20px;
    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      cursor: pointer;
      li {
        display: flex;
        align-items: center;
        padding: 15px 10px 15px 20px;
        color: $text-color;

        .icon {
          margin-right: 15px;
        }
      }
      li.active,
      li:hover {
        fill: $primary-color;
        border-left: 2px solid $primary-color;
        font-weight: bold;
        transition: all 0.3s linear;
        color: $primary-color;
      }
      li:hover {
        padding-left: 30px;
        transition: all 0.3s linear;
      }
    }
  }
  .profile {
    position: absolute;
    display: flex;
    widows: $sidebar-width;
    align-items: center;
    justify-content: space-between;
    bottom: 0px;
    padding: 10px;
    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    p {
      margin: 0px;
      width: 90px;
      font-size: x-small;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .menu {
      margin-left: 5px;
      background-color: rgba(216, 216, 216, 0.67);
      padding: 3px 8px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    position: fixed;
    left: -$sidebar-width;
    transition: all 0.3s linear;
  }
  .sidebar.open {
    left: 0;
    transition: all 0.3s linear;
  }
}
